debug/*
build/*
build2/*
build_atlas/*
build1/*
build_cuda1/*
src/tags
src/call_tags
src/cscope.files
src/cscope.out
src/types_c.vim
src/types_py.vim
*.gch
*.swp
# src/cuv/tensor_ops/instantiations
*.pyc
